.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.number {
  font-family: 'Caveat', cursive;
  font-size: 12rem;
  color: white;
  animation: pulse 0.5s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
